<!doctype html>
<html>
<style>
    .stick-to-right {
        width: 250px;
        float: right;
    }
</style>
<title>Cornershop Test</title>
<div>

    <head>
        <a class="nav-item nav-link" style="color:black" href="{% url 'home' %}"> Lunch System </a>
        {% if user.is_authenticated %}
        <a class="nav-item nav-link stick-to-right" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="nav-item nav-link stick-to-right" href="{% url 'login' %}">Login</a>
        {% endif %}
    </head>
</div>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>